
[MESSAGES CONTROL]

# W0622: redefined-builtin
# W0401: wildcard-import
# C0305: trailing-newlines
disable=W0622,W0401,C0305

[BASIC]

# C0103
# Some of these patterns default to >= 3 characters
argument-rgx=[a-z_][a-z0-9_]*$
variable-rgx=[a-z_][a-z0-9_]*$

